<!-- apartments_list.html -->
{% extends 'base.html' %}
<!--{% load i18n %}-->
{% block title %}{% trans 'Апартаменты - Balkan Pearl' %}{% endblock %}

{% block content %}
<h2>{% trans 'Список апартаментов' %}</h2>

{% if apartments %}
    <ul class="apartment-list">
        {% for apartment in apartments %}
            <li>
                <h3>{{ apartment.name }}</h3>
                <p><strong>{% trans 'Описание' %}:</strong> {{ apartment.description }}</p>
                <p><strong>{% trans 'Цена за ночь' %}:</strong> {{ apartment.price_per_night }} €</p>
                <p><strong>{% trans 'Максимальное количество гостей' %}:</strong> {{ apartment.max_guests }}</p>
                <a href="{% url 'booking_form' apartment.id %}" class="booking-link">{% trans 'Забронировать' %}</a>
            </li>
            <!--<hr>-->
        {% endfor %}
    </ul>
{% else %}
    <p>{% trans 'В данный момент апартаменты недоступны.' %}</p>
{% endif %}
{% endblock %}