<!DOCTYPE html>
{% load static %}
<html lang="en">
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{% static 'images/BalkanPearlLogo.jpeg' %}">
    <title>{% block title %}Balkan Pearl{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="height: 80%">
    {% if site_image %}
        <div class="background-image" style="background-image: url('{{ site_image.image.url }}');"></div>
    {% endif %}
    <header>
        <h1>Balkan Pearl: {% trans "Отдых у моря и гор Черногории" %}</h1>
        <nav class="full-width-nav">
            <a href="{% url 'home' %}">{% trans "Главная" %}</a>
            <a href="{% url 'apartments_list' %}">{% trans "Апартаменты" %}</a>
            <a href="{% url 'booking_form' 1 %}">{% trans "Бронирование" %}</a>
            <a href="{% url 'reviews' %}">{% trans "Отзывы" %}</a>
            <a href="{% url 'blog_home' %}">{% trans "Блог" %}</a>
        </nav>
      <div style="text-align: right; padding: 5px;">
            <form method="post" action="{% url 'set_language' %}">
                {% csrf_token %}
                <select name="language" class="language-switcher" onchange="this.form.submit()">
                    <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
                    <option value="ru" {% if LANGUAGE_CODE == 'ru' %}selected{% endif %}>Русский</option>
                    <option value="me" {% if LANGUAGE_CODE == 'me' %}selected{% endif %}>Crnogorski</option>
                </select>
            </form>
        </div>
    </header>
    <main style="height: 100vh; display: flex; flex-direction: column;">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        &copy; 2025 Balkan Pearl. All rights reserved.
    </footer>
</body>
</html>
