<!DOCTYPE html>
{% load static %}
<html lang="en">
{% load i18n %}
{% load socialaccount %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{% static 'images/favicon.ico' %}">
    <title>{% block title %}{% trans "Balkan Pearl" %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% if site_image %}
        <div class="background-image" style="background-image: url('{{ site_image.image.url }}');"></div>
    {% endif %}
    <header class="content-wrapper">
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <!-- Добавляем логотип -->
        <div class="logo-container">
            <img src="{% static 'images/BalkanPearlLogo.jpeg' %}" alt="Balkan Pearl Logo" class="header-logo">
        </div>
        <!-- Переносим заголовок в отдельный контейнер -->
        <div class="header-title">
            <h1 style="margin: 0; white-space: nowrap; padding-top: 10px;">{% trans "Balkan Pearl: Отдых у моря и гор Черногории" %}</h1>
        </div>
            <div style="text-align: right;">
                <h3 style="margin: 0; white-space: nowrap;">{% trans 'Свяжитесь с нами' %}</h3>
                <div class="messenger-icons" style="margin-top: 5px; display: flex; gap: 10px;">
                    <a href="https://wa.me/{{ hotel.contact_phone|cut:'+' }}" target="_blank" title="WhatsApp">
                        <img src="{% static 'images/whatsapp-icon.svg' %}" alt="WhatsApp" class="icon">
                    </a>
                    <a href="viber://chat?number={{ hotel.contact_phone|cut:'+' }}" target="_blank" title="Viber">
                        <img src="{% static 'images/viber-icon.svg' %}" alt="Viber" class="icon">
                    </a>
                    <a href="https://t.me/{{ hotel.contact_phone }}" target="_blank" title="Telegram">
                        <img src="{% static 'images/telegram-icon.svg' %}" alt="Telegram" class="icon">
                    </a>
                    <a href="mailto:{{ hotel.contact_email }}" target="_blank" title="Email">
                        <img src="{% static 'images/email-icon.svg' %}" alt="Email" class="icon">
                    </a>

                    <a href="{{ hotel.facebook_link }}" target="_blank" title="Facebook">
                        <img src="{% static 'images/facebook-icon.svg' %}" alt="Facebook" class="icon">
                    </a>

                    <a href="{{ hotel.instagram_link }}" target="_blank" title="Instagram">
                        <img src="{% static 'images/instagram-icon.svg' %}" alt="Instagram" class="icon">
                    </a>

                </div>
            </div>
        </div>
        <nav class="full-width-nav" style="display: flex; justify-content: center; align-items: center; margin-top: 5px;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <a href="{% url 'home' %}">{% trans "Главная" %}</a>
                <a href="{% url 'apartments_list' %}">{% trans "Апартаменты" %}</a>
<!--                <a href="{% url 'booking_form' 1 %}">{% trans "Бронирование" %}</a>-->
                <a href="{% url 'reviews' %}">{% trans "Отзывы" %}</a>
                <a href="{% url 'blog_home' %}">{% trans "Блог" %}</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}">{% trans "Мои бронирования" %}</a>
                    <a href="{% url 'account_logout' %}">{% trans "Выйти" %}</a>
                    <span class="welcome-message">{% trans "Здравствуйте, " %} {{ user.username }}!</span>
                {% else %}
                    <a href="{% url 'account_login' %}">{% trans "Войти / Регистрация" %}</a>
                {% endif %}
            </div>
            <div style="text-align: right;">
                <form method="post" action="{% url 'set_language' %}">
                    {% csrf_token %}
                    <select name="language" class="language-switcher" onchange="this.form.submit()">
                        <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>{% trans "English" %}</option>
                        <option value="ru" {% if LANGUAGE_CODE == 'ru' %}selected{% endif %}>{% trans "Русский" %}</option>
                        <option value="me" {% if LANGUAGE_CODE == 'me' %}selected{% endif %}>{% trans "Crnogorski" %}</option>
                    </select>
                </form>
            </div>
        </nav>
    </header>
    <main class="content-wrapper" style="min-height: 100vh; display: flex; flex-direction: column;">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="content-wrapper">
        &copy; {% trans "2025 Balkan Pearl. All rights reserved." %}
    </footer>
</body>
</html>
