<!--C:\Mail.ru\CodeIt\Django\BalkanPearl\BalkanPearlProject\BalkanPearlApp\templates\blog_home.html-->
{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Блог - Balkan Pearl' %}{% endblock %}

{% block content %}

<h2 style="background: rgba(255,255,255,0.8); gap: 20px; align-content: center; border-radius: 8px; width:100%; text-align: center; display: compact;">{% trans "Блог '...а Женя говорила!'" %}</h2>

{% if blog_posts %}
    <ul style="background: rgba(255,255,255,0.8); gap: 20px; border-radius: 8px; width:100%; display: block; list-style: none">
        {% for post in blog_posts %}
            <li style="margin-bottom: 20px; background: rgba(255,255,255,0.8); gap: 20px; border-radius: 8px;  display: block;">
                {{ post.title }}
            </li>
            <li style="margin-bottom: 20px; background: rgba(255,255,255,0.8); gap: 20px; border-radius: 8px;  display: block;">
                {% trans "Publication date" %}: {{ blog_posts.created_at }}
            </li>
            <li style="margin-bottom: 20px; background: rgba(255,255,255,0.8); gap: 20px; border-radius: 8px;  display:block; width: 100%">
                {{ post.content|safe|linebreaksbr }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{% trans 'Пока записей в блоге нет.' %}</p>
{% endif %}
{% endblock %}
