{% extends 'base.html' %}

{% block title %}
Главная - Balkan Pearl
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Официальный сайт Balkan Pearl. Узнайте больше об отеле, его расположении и услугах.">
</head>
<div class="content">
    <h2>Описание отеля</h2>
    <p>{{ hotel.description|default:"Описание недоступно." }}</p>

    <h3>Контакты</h3>
    <ul>
        <li><strong>Адрес:</strong> {{ hotel.address|default:"Не указан" }}</li>
        <li><strong>Электронная почта:</strong> <a href="mailto:{{ hotel.contact_email }}">{{ hotel.contact_email|default:"Нет данных" }}</a></li>
        <li><strong>Телефон:</strong> <a href="tel:{{ hotel.contact_phone }}">{{ hotel.contact_phone|default:"Нет данных" }}</a></li>
    </ul>

    <h3>Найти нас на карте</h3>
<!--    по переменной запроса поиска-->
    <div class="map-container">
        <iframe
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            title="Карта расположения отеля"
            aria-label="Карта расположения отеля"
            src="https://www.google.com/maps/embed/v1/place?key={{ google_maps_key }}&q={{ search_query|urlencode }}">
        </iframe>
    </div>
<!--    ниже - блок отображения по координатам-->
<!--    <p>Координаты отеля: {{ hotel.latitude|default:"-" }}, {{ hotel.longitude|default:"-" }}</p>-->
<!--    {% if hotel.latitude and hotel.longitude and google_maps_key %}-->
<!--    <div class="map-container">-->
<!--        <iframe-->
<!--            style="border:0"-->
<!--            loading="lazy"-->
<!--            allowfullscreen-->
<!--            referrerpolicy="no-referrer-when-downgrade"-->
<!--            title="Карта расположения отеля"-->
<!--            aria-label="Карта расположения отеля"-->
<!--            src="https://www.google.com/maps/embed/v1/place?key={{ google_maps_key }}&q={{ latitude }},{{ longitude }}&zoom=20">-->
<!--        </iframe>-->
<!--    </div>-->
<!--    {% else %}-->
<!--        <p>Карта временно недоступна. Пожалуйста, попробуйте позже.</p>-->
<!--    {% endif %}-->
    <p>
        <a href="{{ hotel.get_google_maps_url }}" target="_blank" style="color: #0080ff; font-weight: bold;">
            Открыть в Google Картах
        </a>
    </p>
</div>
<style>
    .map-container {
        position: relative;
        overflow: hidden;
        width: 30%; /* Карта занимает 1/4 ширины окна */
        padding-top: 30%; /* Соотношение сторон 1:1 (квадрат) */
        margin: 0 left; /* Центрирование карты */
    }
    .map-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
{% endblock %}
