<!--C:\Mail.ru\CodeIt\Django\BalkanPearl\BalkanPearlProject\BalkanPearlApp\templates\home.html-->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans 'Главная - Balkan Pearl' %}{% endblock %}

{% block content %}

<style>
    /* Стили карусели */
    .carousel {
        position: relative;
        height: 40%;
        overflow:visible;
        border-radius: 8px;
        margin: 20px 0;
    }
    .carousel img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
        transform: translateX(-50%) translateY(-25%);
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    .carousel img.active {
        opacity: 1;
        z-index: 1;
    }
    .carousel button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 12px 18px;
        cursor: pointer;
        z-index: 2;
        font-size: 1.5rem;
        border-radius: 5px;
    }
    .carousel button.prev { left: 15px; }
    .carousel button.next { right: 15px; }
    .carousel button:hover {
        background: rgba(0, 0, 0, 0.8);
    }
    /* Zoom‑режим для контейнера карусели */
    .carousel.zoomed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);  /* затемнение фона, чтобы под фото не просвечивала информация */
        z-index: 999;
        display: flex;
        justify-content: center;
        border-radius:  10px !important;
        align-items: flex-start; /* Начать выравнивание от верха */
        overflow: hidden;
        transform: scale(0.8) translateX(-20%) translateY(-20%);
    }

    /* Скрываем все картинки в zoom‑режиме по умолчанию */
    .carousel.zoomed img {
        display: none !important;
        position: static !important;  /* отменяем absolute */
        z-index: 999;
    }

    /* Отображаем только активную картинку */
    .carousel.zoomed img.active {
        display: block !important;
        max-width: 80vw;    /* чтобы фото не заходило за края экрана */
        max-height: 80vh;
        object-fit: contain; /* сохраняем пропорции и показываем всё изображение */
        margin: auto;
        transform: scale(3);         /* Увеличиваем фото */
        transform-origin: center center; /* Центрируем */
        transition: transform 0.3s ease; /*анимируем переключение */
        border-radius: 100px !important;

    }

    /* Переопределяем стили стрелок (если их базовые стили не подходят) */
    .carousel.zoomed button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9999;
    }

    .carousel.zoomed button.prev {
        left: 15px;
    }

    .carousel.zoomed button.next {
        right: 15px;
    }

    .content-container{
        transform: translateY(-8%);
    }
</style>
<div class="content-container" style="display: flex; flex-wrap: nowrap; height: calc(90vh - 100px); ">
    <!-- Левый блок: Описание и контакты -->
    <section class="description" style="flex: 1; padding: 20px; overflow-y: auto; min-width: 300px; background: rgba(138, 135, 120, 0.959)">
        <h1>{% trans 'About hotel' %}</h1>
        <h3>
            {% if hotel.description %}
                <div style="white-space: pre-wrap; overflow-wrap: break-word; transform: translateY(-15%)">
                    {{ hotel.description|linebreaks }}
                </div>
            {% else %}
                {{ no_description }}
            {% endif %}
        </h3>
        <h3>{% trans 'Контакты' %}</h3>
        <ul>
            <li><strong>{% trans 'Адрес' %}:</strong> {{ hotel.address|default:_("Не указан") }}</li>
            <li><strong>{% trans 'Электронная почта' %}:</strong>
                <a href="mailto:{{ hotel.contact_email }}">{{ hotel.contact_email|default:_("Нет данных") }}</a>
            </li>
            <li><strong>{% trans 'Телефон' %}:</strong>
                <a href="tel:{{ hotel.contact_phone }}">{{ hotel.contact_phone|default:_("Нет данных") }}</a>
                <!-- Иконки мессенджеров -->
                <div class="messenger-icons">
                    <a href="https://wa.me/{{ hotel.contact_phone|cut:'+' }}" target="_blank" title="WhatsApp">
                    <img src="{% static 'images/whatsapp-icon.svg' %}" alt="WhatsApp" class="icon">
                    </a>
                    <a href="viber://chat?number={{ hotel.contact_phone|cut:'+' }}" target="_blank" title="Viber">
                        <img src="{% static 'images/viber-icon.svg' %}" alt="Viber" class="icon">
                    </a>
                    <a href="https://t.me/{{ hotel.contact_phone }}" target="_blank" title="Telegram">
                        <img src="{% static 'images/telegram-icon.svg' %}" alt="Telegram" class="icon">
                    </a>
                </div>
            </li>
            <li>
                <strong>{% trans "Мы в соцсетях" %}:</strong>
                <div class="social-media-icons" style="display: flex; gap: 10px; margin-top: 10px;">
                    {% if hotel.facebook_link %}
                    <a href="{{ hotel.facebook_link }}" target="_blank" title="Facebook">
                        <img src="{% static 'images/facebook-icon.svg' %}" alt="Facebook" class="icon">
                    </a>
                    {% endif %}
                    {% if hotel.instagram_link %}
                    <a href="{{ hotel.instagram_link }}" target="_blank" title="Instagram">
                        <img src="{% static 'images/instagram-icon.svg' %}" alt="Instagram" class="icon">
                    </a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </section>

    <!-- Правый блок: Карусель и карта -->
    <section class="map-carousel-section" style="flex: 2; padding: 20px; display: flex; flex-direction: column; justify-content: space-between;">
        <div class="carousel-container" style="flex: 1; margin-bottom: 20px;">
            <h3>{% trans 'Наши фото' %}</h3>
            <div class="carousel" style="position: relative; text-align: center;">
                {% for photo in hotel_photos %}
                    <img src="{{ photo.photo.url }}"
                        alt="{% trans 'Our photos' %}"
                        class="{% if forloop.first %} active {% endif %}">
                {% endfor %}
                <button class="prev">&laquo;</button>
                <!--<img id="carousel-image" src="" alt="{% trans 'Наши фото' %}" style="max-width: 100%; max-height: 300px; display: block; margin: 0 auto;">-->
                <button class="next">&raquo;</button>
            </div>
        </div>

        <div class="map-container" style="flex: 1; width:100%; height:80%">
            <h3>{% trans 'Найти нас на карте' %}</h3>
            <iframe
                width="100%"
                height="75%"
                style="border: 0;"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                title="{% trans 'Карта расположения отеля' %}"
                aria-label="{% trans 'Карта расположения отеля' %}"
                src="https://www.google.com/maps/embed/v1/place?key={{ google_maps_key }}&q={{ search_query|urlencode }}&zoom=15">
            </iframe>
            <p>
                <a href="{{ hotel.get_google_maps_url }}" target="_blank" class="map-link">
                    {% trans 'Открыть в Google Картах' %}
                </a>
            </p>
        </div>
    </section>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        //Обработчик карусели
        document.querySelectorAll('.carousel').forEach(carousel => {
            const images = carousel.querySelectorAll('img');
            let currentIndex = 0;

            //Функция показа изображения по индексу
            const showImage = (index) => {
                images.forEach(img => img.classList.remove('active'));
                if (images[index]) images[index].classList.add('active');
            };

            // Обработчики для стрелок переключения
            carousel.querySelector('.prev').addEventListener('click', (e) => {
                e.stopPropagation(); // запрет переключения зума в случае клика по стрелке
                currentIndex = (currentIndex - 1 + images.length) % images.length;
                showImage(currentIndex);
            });
            carousel.querySelector('.next').addEventListener('click', (e) => {
                e.stopPropagation();
                currentIndex = (currentIndex - 1 + images.length) % images.length;
                showImage(currentIndex);
            });

            // Клик по изображению внутри карусели переключает состояние зума карусели
            carousel.addEventListener('click', (e) => {
                if (e.target.tagName.toLowerCase() === 'img') {
                    // Переключаем класс зума у всей карусели
                    carousel.classList.toggle('zoomed');
                }
            });

            // Настройка курсора для изображений при наведении
            images.forEach(img => {
                img.addEventListener('mouseenter', () => {
                    if (carousel.classList.contains('zoomed')) {
                        img.style.cursor = 'zoom-out';
                    }
                    else {
                        img.style.cursor = 'zoom-in';
                    }
                });
                img.addEventListener('mouseleave', () => {
                    img.style.cursor = 'default';
                });
            });
            //первый слайд по умолчанию
            if (images.length > 0) showImage(0);
        })
    });
</script>
{% endblock %}
