<!-- reviews.html -->
{% extends 'base.html' %}

{% block title %}{% trans 'Отзывы - Balkan Pearl' %}{% endblock %}

{% block content %}
<h2>{% trans 'Отзывы' %}</h2>

{% if reviews %}
    <ul class="review-list">
        {% for review in reviews %}
            <li>
                <strong>{{ review.author }}</strong>: {{ review.text }}
                <br>{% trans 'Оценка:' %}{{ review.rating }}/5
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{% trans 'Пока отзывов нет.' %}</p>
{% endif %}
{% endblock %}